body {
    margin: 0rem;
}

.header {
    text-align: center;
    padding-top: 3rem;
    font-size: 5rem;
    background-color: rgb(7, 77, 7);
    color: white;
}

.navigation-items {
    display: flex;
    justify-content: center;
}

.tabs {
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 3rem;
}

.tabs:hover {
    background-color: rgb(17, 104, 17);
}

.headline {
    text-align: center;
    margin: 15rem auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    width: 40rem;
    color: gray;
}

.img {
    height: 30rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 3rem auto;
    max-width: 70rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-column {
    flex-grow: 1;
    width: 33%;
    margin-right: 2rem;
}

.menu-section-title {
    color: rgb(40, 145, 134);
    font-weight: 600;
}

.entree-section {
    margin-top: 2rem;
}

.name-and-price {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.description-price {
    display: flex;
    margin-top: 0.5rem;
}

.description {
    margin-right: 1rem;
}

.calories {
    font-size: 12px;
    white-space: nowrap;
}

.contact-action {
    text-align: center;
    margin: 5rem auto;
    font-size: 2rem;
    color: gray;
    width: 40rem;
}

.contact-info {
    margin: 5rem;
}

.contact {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(40, 145, 134);
    margin: 1rem auto;
}